<template>
  <input type="text" class="form-control my-3" placeholder="Ingrese pais" v-model.trim="texto" @keyup="procesar">
</template>

<script>
import { ref } from 'vue'
import { useStore } from 'vuex'

export default {
  setup() {
    const texto = ref('')
    const store = useStore()

    const procesar = () => {
      store.dispatch('filtroNombre', texto.value)
    }

    return { texto, procesar }
  }
}
</script>

